SERVER_PORT=4000
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173

STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
STRIPE_PRICE_PRO_MONTHLY=price_your_pro_monthly_test_price
STRIPE_PRICE_PREMIUM_MONTHLY=price_your_premium_monthly_test_price
STRIPE_PRICE_PRO_YEARLY=price_your_pro_yearly_test_price
STRIPE_PRICE_PREMIUM_YEARLY=price_your_premium_yearly_test_price
